<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("logo_lazin-04.png", :alt => "logo") %>
    <% end %>

    <%= render "shared/search_bar"%>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "Offers", offers_path, class: "nav-link fw-bold text-dark mt-1 ", id: "hover" %>
          </li>
        <% if user_signed_in? %>
        <li class="nav-item">
          <p class="nav-link fw-bold text-dark pe-3"></p>
        </li>
          <li class="nav-item">
           <%= link_to 'Log Out', destroy_user_session_path, data:{turbo_method: :delete}, class: "nav-link fw-bold text-dark mt-1 pe-3", id: "hover" %>
          </li>
          <li class="nav-item">
            <%= link_to dashboard_path, class: "" do %>
              <% if current_user.photo.attached? %>
                <%= cl_image_tag current_user.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "black_placeholder.jpg", class: "avatar" %>
              <% end %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "nav-link fw-bold text-dark mt-1 ms-2 pe-3", id: "hover" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link fw-bold text-dark mt-1 pe-3", id: "hover" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
