<div class="banner">
  <div class="row">
    <div class="col text-center">
      <h1>WELCOME ON LAZ'IN</h1>
      <h3>Find good people to do stuff you hate doing!</h3>
    </div>
  </div>
</div>
<div class="container d-flex">
  <%= link_to offers_path(commit: "pets"), class:"card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1652954428516-8aa6b0f2d599?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687');" do %>
    <h2>Pets</h2>
  <% end %>
  <%= link_to offers_path(commit: "culture"), class:"card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1560425946-7d5830202765?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764');" do %>
    <h2>Culture</h2>
  <% end %>
  <%= link_to offers_path(commit: "social"), class:"card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1542622475-904e18612fa1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');" do %>
    <h2>Social</h2>
  <% end %>
  <%= link_to offers_path(commit: "sport"), class:"card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1552674605-db6ffd4facb5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470');" do %>
    <h2>Sport</h2>
  <% end %>
    <%= link_to offers_path(commit: "sport"), class:"card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1506836467174-27f1042aa48c?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687');" do %>
    <h2>Family</h2>
  <% end %>
    <%= link_to offers_path(commit: "sport"), class:"card-category", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://media.istockphoto.com/photos/happy-friends-hugging-after-graduating-together-picture-id1349878849?k=20&m=1349878849&s=612x612&w=0&h=p29X4Ec9IHjDu0pyGnaAlu1AJkqRwidqS3f0FsRBbpM='); " do %>
    <h2>Study</h2>
  <% end %>
</div>
