<div class="container-app my-3 py-3">
  <% if @offer.persisted? %>
    <h3>Update offer <% @offer.name %></h3>
  <% else %>
    <h3>Create offer</h3>
  <% end %>
  <br>
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :name, label: 'What is the name of your offer ?' %>
    <%= f.input :category, label: 'Confirm the category', collection: %w(Study Culture Sport Family Social Pets) %>
    <%= f.input :overview, label: 'Description of the service ?'  %>
    <%= f.input :location, label: 'What is your location/address ?'  %>
    <%= f.input :photo, as: :file %>
    <div class="button-inline">
      <div class="flex-item-grow">
        <%= f.input :unit_price %>
      </div>
      <%= f.input :currency, collection: %w(EUR GBP USD CNY JPY) %>
    </div>
    <%= f.submit class: "btn btn-primary border-radius" %>
  <% end %>
</div>
