<div class="">
  <h1 class="">LAZ'IN</h1>
  <div class="cards">
    <% @offers.each do |offer| %>
    <a href="<%= offer_path(offer)%>">
    <div class="card">
      <div class ="image">
        <% if offer.photo.attached? %>
          <%= cl_image_tag(offer.photo.key,width: 100, height: 100, crop: :fill) %>
        <% else %>
          <%= image_tag("photo_placeholder.png", width: 100, height: 100, crop: :fill) %>
        <% end %>
      </div>
      <div>
        <h3><%= offer.name %></h3>
        <p><%= "#{offer.unit_price} #{offer.currency}" %></p>
        <p><%= offer.location %></p>
      </div>>
    </div>
    </a>
    <% end %>
  </div>
</div>
<br>
<%= link_to "New offer", new_offer_path %>
