<h1>Offer description</h1>
<br>
<h2><%= @offer.name %></h2>
<p><%= @offer.location %></p>
<p><%= @offer.unit_price %> <%= @offer.currency %></p>
<p><%= @offer.overview %></p>
<%= @offer.photo.attached? ? cl_image_tag(@offer.photo.key , height: 300, width: 400, crop: :fill) : image_tag("photo_placeholder.png")%>

<%= link_to "Edit", edit_offer_path %>
<br>
<%= link_to "Delete",
  offer_path(@offer),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to "New booking",  new_offer_booking_path(@offer) %>
