<div class="container-all d-flex">

  <div class="container-show">
    <div class="title-offer">
      <h2><%= @offer.name.upcase %></h2>
      <h2 class="location"><%= @offer.location %></h2>
    </div>

    <div class="container-offer">
      <%= @offer.photo.attached? ? cl_image_tag(@offer.photo.key, height: 300, width: 800, quality: 70, class: "top-rounded-image") : image_tag("photo_placeholder.png")%>
      <div class="info-offer">
        <h3><%= @offer.unit_price %> <%= @offer.currency %></h3>
        <p><%= @offer.overview %></p>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
      </div>
    </div>

    <div class="action-bar">
      <div class="edit-button d-flex">
        <% if policy(@offer).destroy? %>
          <div class="button-make">
            <%= link_to "Modifier", edit_offer_path %>
          </div>
          <div class="button-delete">
            <%= link_to "Supprimer",
            offer_path(@offer),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
          </div>
        <% end %>
      </div>
      <div class="button-make">
        <%= link_to "Reserver cette offre",  new_offer_booking_path(@offer) %>
      </div>
    </div>
  </div>

  <div class="booking-card">
    <h3>Booking for <br>"<%= @offer.name.upcase %>"</h3>
    <div class="booking-form">

      <%= simple_form_for [@offer, @booking], data: { controller: 'flatpickr' } do |f| %>
        <%= f.input :date, as: :string, required: false, input_html: {class: 'datepicker'} %>
        <%= f.submit 'Book now!', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
