
<div class="margin_container">
  <div class="d-flex">
    <div>
      <div class="seller justify-content-between dashboard">
        <div class="d-flex justify-content-center align-items">
          <div class="justify-content-center align-items mt-5">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "avatar-xl" %>
            <% else %>
              <%= image_tag "black_placeholder.jpeg", class: "avatar-xl" %>
            <% end %>
            <h3 class="mb-3">Hello <strong><%=  "#{ @user.username } !"%></strong></h3>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <h5 class="mt-4 mb-1"><%= link_to "+ New Offer", new_offer_path, class: "fw-bold text-dark", id: "hover" %></h5>
        </div>
        <div class="border-bottom mb-3 mt-2 w-100"></div>
        <h3 class="mt-4 mb-5">You have <strong><%= "#{ @accepted_or_pending_offers.count }"%></strong> coming jobs...</h3>
        <% @accepted_or_pending_offers.each do |booking| %>
          <div class="d-flex">
            <%= link_to offer_path(booking.offer) do %>
              <div class="image_dashboard mb-3" >
                <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
              </div>
            <% end %>
            <div class="mb-3 ms-3 mt-1">
              <h6 class="fw-bold"><%= booking.offer.name%></h6>
              <p><%= booking.offer.location %> </p>
              <p><%= booking.date.strftime('%a %d %b %Y') %></p>
              <% if booking.status == "pending" %>
                <%= link_to "Accept", accepted_booking_path(booking), data: { turbo_method: :patch }, id: "hover", class:"cancel_link" %>
                <%= link_to "Decline", declined_booking_path(booking), data: { turbo_method: :patch }, id: "hover", class:"cancel_link"%>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="justify-content-center dashboard">
      <h3 class="mt-4 ms-4 mb-4">You have <strong><%="#{ @validate_booking.count }"%></strong> coming reservations...</h3>
      <div class="buyer d-flex justify-content-between">
        <div class="me-3 dashboard_case">
          <h5>Validated</h5>
          <div class="border-bottom mb-3 w-100"></div>
          <% @validate_booking.each do |booking| %>
            <% if booking.date >= Date.today %>
              <div class="image_dashboard d-flex">
                <%= link_to offer_path(booking.offer) do %>
                  <div class="image_dashboard ">
                    <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
                  </div>
                <% end %>
                <div class="ms-3 mt-2">
                  <h6 class="fw-bold"><%= booking.offer.name %></h6>
                  <p><%= booking.offer.location %> </p>
                  <p><%= booking.date.strftime('%a %d %b %Y') %></p>
                  <%= link_to "Cancel", declined_booking_path(booking), data: { turbo_method: :patch }, id: "hover", class:"cancel_link"%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="ms-3 dashboard_case">
          <h5>Pending</h5>
          <div class="border-bottom mb-3 w-100"></div>
          <% @pending_booking.each do |booking| %>
            <% if booking.date >= Date.today %>
              <div class="d-flex align-items">
                <%= link_to offer_path(booking.offer) do %>
                  <div class="image_dashboard mb-3">
                    <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
                  </div>
                <% end %>
                <div class="ms-3 mt-2">
                  <h6 class="fw-bold"><%= booking.offer.name %></h6>
                  <p><%= booking.offer.location %> </p>
                  <p><%= booking.date.strftime('%a %d %b %Y') %></p>
                  <%= link_to "Cancel", declined_booking_path(booking), data: { turbo_method: :patch }, id:"hover", class:"cancel_link"%>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="ms-3 me-3 mt-1">
        <h5 class="ms-3">Past reservations</h5>
        <div class="border-bottom ms-3 mb-3 me-1"></div>
        <div class="">
          <% @past_bookings.each do |booking| %>
            <div class="d-flex">
              <%= link_to offer_path(booking.offer) do %>
                <div class="image_dashboard ms-3 mb-3">
                  <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
                </div>
              <% end %>
              <div class="ms-3 mt-3">
                <h6 class="fw-bold"><%= booking.offer.name %></h6>
                <p><%= booking.offer.location %> </p>
                <p><%= booking.date.strftime('%a %d %b %Y') %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
