<div class="m-3">
  <h1 class=""><%= "Salut #{ @user.username } !"%></h1>

  <h3>Your Bookings</h3>


    <div class= >
     <h5>To come !</h5>
      <div class="d-flex">
        <div class="">
          <h5>Validated</h5>
            <% @validate_booking.each do |booking| %>
              <% if booking.date >= Date.today %>
                <div class="">
                  <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
                  <div class="">
                    <h6><%= booking.offer.name.upcase %></h6>
                    <p><%= booking.offer.location %> </p>
                    <p><%= booking.date.strftime('%a %d %b %Y') %></p>
                    <%= link_to "Cancel", declined_booking_path(booking), data: { turbo_method: :patch }%>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>

        <div class="">
          <h5>Pending</h5>
            <% @pending_booking.each do |booking| %>
              <% if booking.date >= Date.today %>
                <div class="">
                  <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
                  <div class="">
                  <h6><%= booking.offer.name.upcase %></h6>
                    <p><%= booking.offer.location %> </p>
                    <p><%= booking.date.strftime('%a %d %b %Y') %></p>
                    <%= link_to "Cancel", declined_booking_path(booking), data: { turbo_method: :patch }%>
                  </div>
                </div>
              <% end %>
            <% end %>
        </div>

      </div>

      <div>
        <h5>Past Bookings</h5>
          <div class="">
            <% @past_bookings.each do |booking| %>
              <div class="">
                <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
                <div class="">
                <h6><%= booking.offer.name.upcase %></h6>
                <p><%= booking.offer.location %> </p>
                <p><%= booking.date.strftime('%a %d %b %Y') %></p>
              </div>
            <% end %>
          </div>
      </div>

    </div>












  <h4><%= "I'M THE SELLER AND I HAVE TO VALIDATE OR CANCEL"%></h4>
  <div class="grid_display">
    <div class="">
      <div class="">
        <% @rented_offers.each do |booking| %>
          <div class="">
            <%= cl_image_tag(booking.offer.photo.key, width: 100, height: 100, quality: 60) %>
            <h6><%= booking.offer.name.upcase %></h6>
            <div class="">
              <p><%= booking.offer.location %> </p>
              <p><%= booking.date.strftime('%a %d %b %Y') %></p>
              <%= booking.status %>
              <% if booking.status == "pending" %>
                <%= link_to "Accept", accepted_booking_path(booking), data: { turbo_method: :patch } %>
                <%= link_to "Deny", declined_booking_path(booking), data: { turbo_method: :patch }%>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
